.toolbarLink {
  text-decoration: none;
  width: 100%;
  font-weight: 600;
  color: white;
  background-color: #A3A3A3;
}

.toolbarLink:hover {
  text-decoration: none;
  width: 100%;
  font-weight: bold;
  color: white;
  background-color: #FFBE46;
}

.container {
  background-color: white;
  border-radius: 10px;
}

.page-content {
  margin: 0 auto;
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 4rem;
}




.form-content {
  display: flex;
  justify-content: space-between;
}

.form-content-item {
  width: 50%;
}

.form-label {
  font-weight: bold;
}

.profile-pic {
  text-align: center;
  display: grid;
  justify-content: center;
}

.profile-pic > img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  vertical-align: middle;
}

.profile-pic > .pic-upload {
  transform: translate(55px, -40px);
}

.message {
  margin-top: 1rem;
  width: 80%;
  margin: 0 auto;
  padding-top: 1rem;
}

.alert {
  width: 100%;
  text-align: center;
}